<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        {% for employee in employees %}
            <tr>
                <td> {{employee.first_name}} </td>
                <td> {{employee.last_name}} </td>
                <td> {{employee.email}} </td>
                <td> {{employee.phone_number}} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>